:root{
  font-size: 62.5%;
 --Red: hsl(14, 86%, 42%);
 --Green: hsl(159, 69%, 38%);
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
}
html{
  font-size: 62.5%;
  line-height: 1.15;
  text-size-adjust: 100%;
  height: 100vh;
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  min-width: 0px;
  font-size: 1.6rem;
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
}
.review-overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

}
.review-content{
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  width: 375px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  overflow: scroll;
  height: 100%;
}
.review-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.confirm-icon{
  width: 32px;
  height: 32px;
}
.title-head{
  font-weight: 700;
  font-size: 3.2rem;
  line-height:32px;
  color: var(--Rose-900);
  text-overflow: ellipsis;
  text-wrap: wrap;
  text-align: left;
  margin: 0px;
  padding: 0px;
  min-width: 0px;
  padding-top: 6px;
  box-sizing: border-box;
}
p{
  color: var(--Rose-500);
  font-size: 1.2rem;
  font-weight: 500;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  padding: 0;
  padding-top: 8px;
}
.Reviewitem-container{
  padding: 12px;
  margin-top: 24px;
  border-radius: 12px;
  background-color: var(--Rose-50);
}
.confirmItems-container{
  background-color: var(--Rose-50);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews-cart{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
}
.img{
  width: 100%;
  height: 100%;
  border-radius: 4px;

}
.divImg{
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
}
.confirmitems{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 12px;
}
.confirmItem-name{
  font-size: 1.2rem;
  color: var(--Rose-900);
  font-weight: 600;
}
.confirmitems-Qrt{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  gap: 12px;
  font-size: 1.2rem;
  padding-top: 8px;
}
.confirm-Qrt{
  color: var(--Red);
  font-weight: 600;
  font-size: 1.2rem;
}
.confirm-price{
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--Rose-400);
  font-weight: 600;
  font-size: 1.2rem;
}
.confirm-sale{
  font-weight: 700;
  color: var(--Rose-900);
  font-size: 1.4rem;
}
.line{
  width: 100%;
  height: 1px;
  margin: 12px 0px;
}
.review-total{
  font-size: 1.4rem;
  color: var(--Rose-900);
}
.start-new-orderBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: var(--Red);
  color: var(--Rose-50);
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.6rem;
  padding: 14px 12px;
  margin-top: 24px;
  border-radius: 32px;
  cursor: pointer;
  border: 1px solid var(--Red);
}
@media screen and (min-width:992px) {
  .header{
    display: flex;
    gap: 8px;
  }
  .title-head{
    font-size: 2.4rem;
  }
}